<form id="monitoringTypesForm" enctype="multipart/form-data" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        {% if data.typeId %}
        <div class="form-group col-md-6">
            <label for="typeId">Type Id</label>
            <input class="form-control" type="text" id="typeId"
                   name="typeId" placeholder="Type Id"
                   value="{{ data.typeId }}" disabled>
        </div>
        {% endif %}
        <div class="form-group col-md-6">
            <label for="typeName">Type Name</label>
            <input class="form-control" type="text" id="typeName"
                   name="typeName" placeholder="Type Name"
                   value="{{ data.typeName }}" required>
            <small class="form-text text-muted">Enter a name for this monitoring type (e.g., HTTP, Ping, API GET, API POST)</small>
        </div>
    </div>
    {{"monitoringTypesForm" | formToken | raw }}
</form>
