<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>

{% if (request.error) %}
    <div class="alert alert-danger"><strong>Invalid!</strong> Your username or password is incorrect!</div>
{% endif %}
<form id="loginForm" method="post" action="/login">
    <label>Username:</label><br>
    <input type="text" name="username"><br><br>
    <label>Password:</label><br>
    <input type="password" name="password"><br><br>
    <button type="submit">Login</button>
    {{  "login" | formToken | raw }}
    <a href="/create-user"><button type="button">Create User</button></a>

</form>
</body>
</html>
